.pic-container {
    position: relative;
    height: 100%;
}

.project-description {
    color: gray;
    margin-top: 10px;
}

polyline {
    fill: none;
    color: rgb(170, 170, 170);
}

.portfolio-card-footer {
    border-top: none !important;
    padding-bottom: 40px;
}

.writing-card-body {
    padding-bottom: 0px;
}

.writing-title {
    padding-top: 15px;
    margin-bottom: 0px;
}

.website-btn {
    border-radius: 17px;
    border: 1px solid #ff6060;
    color: #ff6060;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px 11px 0px 11px;
    font-size: 12px;
}

.website-btn:hover {
    background-color: #ff6060;
    color: white;
    border: none;
}

@media only screen and (max-width: 374px) {
    .portfolio-card-body {
        padding: 15px;
    }

    .project-title {
        padding-top: 0px;
        margin-bottom: 0px;
    }
} 

@media only screen and (max-width: 420px) {
    .project-description {
        font-size: 10px;
    }
} 

@media only screen and (min-width: 375px) {
    .portfolio-btn {
        margin-left: 12px;
        margin-right: 12px;
        padding: 0px 18px 0px 18px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 460px) {

    .portfolio-btn {
        margin-left: 5%;
        margin-right: 5%;
        padding: 0px 24px 0px 24px;
        font-size: 14px;
    }

    .project-title {
        margin-bottom: 15px;
    }
}