.skills-title, .portfolio-title {
    margin-bottom: 40px;
    margin-top: 120px;
}

.slide-left {
    animation: slideInLeft;
    animation-duration: 3s;
}

.slide-right {
    animation: slideInRight;
    animation-duration: 3s;
}

.slide-up {
    animation: slideInUp;
    animation-duration: 3s;
}

@media only screen and (min-width: 960px) {
    .design-card-footer {
        position: absolute;
        bottom: 0px;
        width: 80%;
    }

    .design-card {
        position: relative;
    }
}